<h1><%= @tag.name() %></h1>

<div class="bottom">
  <form action="/tag/<%= @tag.id() %>/edit" method="post">
    <input  type="hidden" name="_method" value="delete">

    <button class="btn btn-danger" type="submit">Delete Tag</button>
    <a class="btn btn-primary" href="/tag/new">Back</a>
  </form>
</div>
