<h1><%= @recipe.name()%></h1>

<div class="row">
  <div class="col-sm-5">
    <% if @recipe.ingredients().any?() %>
    <h2>Ingredients:</h2>
    <% @recipe.ingredients().each do |ingredient| %>
    <h5><%= ingredient.name() %></h5>
    <% end %>
    <% end %>

  </div>
  <div class="col-sm-3">
    <% if @recipe.tags().any?() %>
    <h2>Tagged as:</h2>
    <% @recipe.tags().each do |tag| %>
    <h5><%= tag.name() %></h5>
    <% end %>
    <% end %>

  </div>
  <div class="col-sm-4">
    <h2>Rated:</h2>
    <form class="" action="/recipes/view/:id/ingredients" method="post">
      <button type="" name="rating" value="1">
        <span class="glyphicon glyphicon-thumbs-up"></span>
      </button>
      <button type="button" name="rating" value="0">
        <span class="glyphicon glyphicon-thumbs-down"></span>
      </button>
    </form>
  </div>
</div>

<div class="instructions">
  <h2>Instructions:</h2>
  <p>
    <%= @recipe.instructions() %>
  </p>
</div>

<div class="bottom">
  <a class="btn btn-primary" href="/recipes/view">Back</a>
  <a class="btn btn-default" href="/">Home</a>
</div>
