<h1>Add a Recipe</h1>

<% if @recipes.any?() %>
  <% @recipes.each() do |recipe| %>
    <h5><a href="/recipes/<%= recipe.id() %>/ingredients"><%= recipe.name() %></a></h5>
  <% end %>
<% else %>
  There are no recipes.
<% end %>



<form  action="/recipes/new" method="post">
  <label for="name"> Name </label>
  <input type="text" name="name">
  <label for="instructions"> Instructions</label>
  <input type="text" name="instructions"><br>

  <button class="btn btn-default" type="submit" name="button">Add Recipe</button>
  <a class="btn btn-default" href="/">Back</a>
</form>
